# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native build caches
.kotlin/
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
android/local.properties
ios/Pods/
ios/build/

# Native private credentials
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# iOS 构建产物
*.ipa

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# local env files
.env*.local
.trae/
.vscode/

# typescript
*.tsbuildinfo
